*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(223, 207, 188);
}
article{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(87, 56, 3);
}
.cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    min-width: 250px;
}
.card{
    background-color: #f1e1e1;
    width: 25%;
    min-width: 250px;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    border: 2px solid rgb(124, 77, 77);
    border-radius:15px ;
    padding: 1rem .5rem;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;

}

.buttons{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
button{
    border: none;
    border-radius: 15px;
    outline: none;
    background-color: #f1e1e1;
    color: rgb(124, 77, 77);
    padding: .5rem;
    font-size: large;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}
button:hover{
    color: #f1e1e1;
    background-color: rgb(124, 77, 77);
}
.info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: rgb(87, 56, 3);
}
.info h5{
    font-size: 1rem;
}